.LoaderBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.LoaderContent {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    max-width: 100px;
    width: 100%;
    z-index: 600;
}
.loader {
  color: grey;
  font-family: sans-serif;
  height: 5vh;
  left: 50%;
  overflow-x: hidden;
  padding-top: 7vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}
.loader:before {
  animation: left-to-right 3s alternate infinite linear;
  background-image: linear-gradient(to right, #6b11c0, #24CCA7, transparent);
  content: "";
  height: 5vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.loader:after {
  background-image: repeating-linear-gradient(90deg, /* white */ rgba(0, 0, 0, 0.2), /* white */ rgba(0, 0, 0, 0.2) 1vw, transparent 1vw, transparent 10vw);
  content: "";
  height: 5vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}