.Modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-height: 100px;
    max-width: 440px;
    /* width: auto; */
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px, 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}

@media (min-width: 300px) {
    .Modal__content {
        width: 280px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px, 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}

@media (min-width: 768px) {
    .Modal__content {
        width: 440px;
    }
}

.buttonsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    color: #4A56E2;
    background-color: #ffffff;
    width: 200px;
    height: 40px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    border: 1px solid #4A56E2;
    border-radius: 20px;  
}

@media (min-width: 300px) {
    .button {
        width: 280;
        /* height: 40; */
    }
}

@media (min-width: 768px) {
    .button {
        width: 300;
        height: 50;
    }
}


.button + .button {
    margin-top: 20px;
}

.button:hover, .button:focus {
    color: #ffffff;
    background-color: #24CCA7;
    border:1px solid #24CCA7;
    outline: none; 
}
