@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
}

/* title */
.title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 40px;
  line-height: 1.5;
}
/* --- End title */

/* type */
.typeWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.toggle {
  --width: 88px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #e9e9e9;

  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #fdf9f9;
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #24cca7;
  background-image: url('../../assets/images/plus.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition-duration: 0.4s;
  transition-property: transform, background-image;
}

.toggle__input:checked ~ .toggle__fill::after {
  content: '';
  background: #ff6596;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-image: url('../../assets/images/minus.svg');
  transform: translateX(var(--height));
}

.transType {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

.income {
  color: #24cca7;
}

.expense {
  color: #ff6596;
}
/* --- End type */

/*  category */
.categoryWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.select {
  cursor: pointer;
  width: 465px;

  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
  /* background: url('./img/bg_select.png') no-repeat 95% center; */
}

.optionFilled {
  font-size: 18px;
  color: #2a2a2a;
}

/* End category */

/* amount and data */
.amountAndData__wrapper {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .amountAndData__wrapper {
    flex-direction: column;
  }
}

.amountAndData {
  font-size: 18px;
  line-height: 1.8;
  outline: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 5px;
  width: 190px;
}

@media screen and (max-width: 767px) {
  .amountAndData {
    width: 410px;
  }
  .amountAndData:first-child {
    margin-bottom: 40px;
  }
}

.amountAndData::placeholder {
  color: #bdbdbd;
}

.amountAndData:focus {
  outline: none;
  border-bottom: 1px solid #2196f3;
}
/* --- End amount and data  */

/* text */
.textareaWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  font-size: 18px;
  line-height: 1.8;
  outline: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 5px;
  width: 405px;
}

.text::placeholder {
  color: #bdbdbd;
}

.text:focus {
  outline: none;
  border-bottom: 1px solid #2196f3;
}
/* --- End text  */

.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
