.dashboardPage {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  background-image: url('./img/ellipse-bottom.svg'), url('./img/ellipse-top.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;
}

.backdrop {
  backdrop-filter: blur(150px);

  width: 100%;
  height: 100%;
  outline: red dotted 2px;

  display: flex;
}
@media (max-width: 1279px) {
  .backdrop {
    flex-direction: column;
  }
}

.leftContainer {
  flex: 1;
  padding-top: 40px;
  outline: red dotted 2px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .leftContainer {
    display: flex;
  }
}
.currencyContainer {
  padding-top: 30px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .currencyContainer {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .currencyContainer {
    display: none;
  }
}

.rightContainer {
  flex: 3;
  padding-top: 40px;

  outline: red dotted 2px;
}

/* 
@media (min-width: 1280px) {
  .dashboardPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 85px; 
  }
} */

/* @media (max-width: 768px) {
  .rightBarTabletWrapper {
    display: flex;
  }
  .dashboardPage {
    max-width: 320px;
  }
  .navigationWrapper {
    padding-right: 30px;
  }
  .balanceWrapper {
    margin-bottom: 30px;
  }
  .currencyWrapper {
    display: none;
  }
} */

/* @media (min-width: 768px) and (max-width: 1280px) { 
  .dashboardPage {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
  }
  .rightBarWrapper {
    height: 175px;
  }
  .navigationWrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  .balanceWrapper {
    height: 0px;

    z-index: 1;
  }
  .currencyWrapper {
    height: 0px;

    z-index: 1;
  }
} */

/* 
@media (max-width: 768px) {
  .dashboardPage {
    min-height: 720px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    padding-left: 20px;
    padding-right: 20px;
    z-index: none;
  }
  .tableThead {
    display: flex;
  }
  .elipse_top {
    display: none;
  }

  .elipse_bottom {
    display: none;
  }
} */
@media (min-width: 768px) {
  /* .elipse_top {
    position: absolute;
    width: 520px;
    height: 813px;
    right: 50px;
    top: -250px;
    transform: rotate(21.94deg);
    filter: blur(50px);
    -webkit-filter: blur(150px);
  } */

  table.table-3 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table.table-3 tr {
    background-color: #f8f8f8;
  }

  table.table-3 th,
  table.table-3 td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  @media screen and (max-width: 600px) {
    table.table-3 {
      border: 0;
    }

    table.table-3 thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table.table-3 tr {
      border-bottom: 1px solid #ddd;
      display: block;
      margin-bottom: 30px;
    }

    table.table-3 td {
      display: block;
      text-align: right;
    }

    table.table-3 td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table.table-3 td:last-child {
      border-bottom: 0;
    }
  }

  /* .elipse_bottom {
    z-index: 1;
    position: absolute;
    width: 618px;
    height: 547px;
    left: -53.33px;
    bottom: -50px;
    transform: rotate(16.86deg);
    filter: blur(50px);
    -webkit-filter: blur(50px);
  } */
}
