.dashboardPage {
  padding: 45px 85px;
  display: flex;
  text-align: -webkit-right;
  height: 720px;
  background-color: #f9fbff;
  backdrop-filter: blur(50px);
  overflow: hidden;
}

.addBtnBg {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 1151px;
  top: 636px;
}

.elipse_top {
  position: absolute;
  width: 520px;
  height: 813px;
  left: 844.41px;
  top: -253px;
  transform: rotate(21.94deg);
  filter: blur(50px);
  -webkit-filter: blur(150px);
}

.elipse_bottom {
  position: absolute;
  width: 618px;
  height: 547px;
  left: -53.33px;
  top: 271px;
  transform: rotate(16.86deg);
  filter: blur(50px);
  -webkit-filter: blur(50px);
}
