.headerContainer {
    background-color: rgba(255, 255, 255, 1);
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .headerContainer, .dashboardContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .dashboardContainer {
        height: calc(100vh - 60px);
    }
}
  
@media (min-width: 768px) and (max-width: 1279px) {
    .headerContainer, .dashboardContainer {
      padding-left: 40px;
      padding-right: 40px;
    }
    .dashboardContainer {
        height: calc(100vh - 80px);
    }
}

@media (min-width: 1280px) {
    .headerContainer, .dashboardContainer {
        flex-direction: row;
        padding-left: 85px;
        padding-right: 85px;
    }
    /* .dashboardContainer {
        height: calc(100vh - 80px);
    } */
    /* .dashboardContainer {
        height: calc(100% - 80px);
    } */
}

