.logo {
  display: flex;
  align-items: flex-start;
  /* padding: 15px 20px; */
}

.logoText {
  font-family: Segoe;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  padding-left: 15px;
}
