.Navigation {
  display: flex;
  width: 200px;
  height: 60px;
  padding: 0 60px;
  justify-content: space-between;
}

/* .Navigation {
  display: flex;
  @media screen and (max-width: 767px) {
    width: 320px;
    height: 64px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: block;
    width: 334px;
    height: 114px;
  }
  @media screen and (min-width: 1024px) {
    display: block;
    width: 350px;
    height: 122px;
  }
} */
