.Navigation {
  display: flex;
  max-width: 200px;
  height: 60px;
  padding: 0 60px;
  justify-content: space-between;
}

.NavLinkActive {
  fill: #4a56e2;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Navigation {
    display: flex;
    width: 200px;
    height: 60px;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
  }

  .NavLinkName {
    display: none;
  }

  .Navigation > li > div > img {
    width: 44px;
    height: 44px;
  }
}

@media (min-width: 768px) {
  .Navigation {
    display: block;
    width: 143px;
    height: 64px;
    padding: 0;
  }

  .Navigation > li {
    display: flex;
    align-items: center;
    height: 27px;
  }

  .isHidden {
    display: none;
  }

  .Navigation > li > a > div {
    display: flex;
    align-items: center;
  }

  .NavLinkName {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding-left: 20px;
  }

  .navlinkname:focus {
    font-weight: bold;
  }

  .NavigationLi {
    margin-top: 10px;
  }

  .Navigation > li > a > div > img {
    width: 18px;
    height: 18px;
  }

  .NavItemCurrency {
    display: none;
  }
}
