.statisticEl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: inline-block;
  font-family: Segoe;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  font-style: normal;
  margin-bottom: 10px;
}
.statisticWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  .diagramWrapper {
    min-width: 100px;
  }
}

.noStatsText {
  text-align: center;
}

@media (min-width: 768px) {
  .statisticWrapper {
    flex-direction: row;
    align-items: normal;
  }

  .diagramWrapper {
    width: 320px;
    margin-right: 35px;
  }
}

@media (min-width: 1280px) {
  .diagramWrapper {
    margin-right: 30px;
  }
}
