.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  padding: 40px 60px 60px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px, 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    padding: 20px;
  }
}

.closeBtnContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .closeBtnContainer {
    display: none;
  }
}
