.headerContainer {
  background-color: rgba(255, 255, 255, 1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  height: 80px;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.userMenu {
  display: flex;
  align-items: center;
}

.userName {
  font-size: 18px;
  color: var(--grey);
  line-height: 26.53px;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .userName {
    margin-right: 10px;
  }
}

.divider {
  width: 1px;
  height: 30px;
  background-color: var(--grey);
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .divider {
    display: none;
  }
}

.exit {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoutItem {
  width: 18px;
  height: 18px;
  background-image: url('../../assets/images/header/exit-icon.svg');
  background-repeat: no-repeat;
}

.logoutText {
  font-size: 18px;
  color: var(--grey);
  line-height: 26.53px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .logoutText {
    display: none;
  }
}
