.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 60px;
}

/* .LogoWallet {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.LogoWallet > span {
  font: Poppins;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  padding-left: 15px;
} */

.UserMenu {
  padding: 18px 20px;
}

.UserMenu > button {
  padding-left: 10px;
}
