.button {
    color: #fff;
    background: blue;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 15px;
    /* width: 70px; */
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
  }
  
  .button:hover {
    background: none;
    border: 1px solid blue;
    color: blue;
  }
  
  .button:active {
    background-color: red;
  }