.headWrapper {
  background-color: black;
}
.table {
  max-width: 700px;
}

@media (max-width: 767px) {
  .thead {
    display: none;
  }
}

@media (max-width: 767px) {
  /* .table .tbody {
    display: flex;
    justify-content: center;
  } */
  .tr {
    width: 100%;
    /* max-width: 280px; */
    display: flex;
    flex-direction: column;
    border-left: 5px solid rgba(255, 101, 150, 1);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
  }

  .table td {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.437;
    border-top-right-radius: 10px;
    border-bottom-color: rgb(189, 189, 189);
    padding-left: 15px;
    text-align: right;
  }

  .table td::before {
    padding-right: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.115;
    content: attr(data-label);

    float: left;
  }

  .table td {
    background-color: #fff;
  }

  .tbody td {
    vertical-align: middle;
  }

  .category::before {
    content: '';
    width: 24px;
    height: 24px;
    background-color: teal;
    margin-right: 16px;
    border-radius: 2px;

    display: inline-block;
  }
}

.countText {
  font-weight: 700;
}
.income {
  font-weight: 700;
  color: rgba(36, 204, 167, 1);
}
.outcome {
  font-weight: 700;
  color: rgba(255, 101, 150, 1);
}

.category {
  text-align: center;
}

.colorBlock {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: teal;
  margin-right: 16px;
}

.totalAmount {
  border-bottom-style: hidden;
}
/* центрирует текст в табличке */
.tr td {
  vertical-align: middle;
}

.BtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.removeButton,
.editButton {
  cursor: pointer;
  color: rgb(204, 204, 204);
}
.removeButton:hover,
.removeButton:focus {
  color: rgba(255, 101, 150, 1);
  transition: color 0.5s;
}

.editButton:hover,
.editButton:focus {
  color: rgba(36, 204, 167, 1);
}
