.headWrapper {
  background-color: black;
}

@media (max-width: 767px) {
  .thead {
    display: none;
  }
}

@media (max-width: 767px) {
  .tr {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid rgba(255, 101, 150, 1);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
  }

  td {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.437;
    border-top-right-radius: 10px;
    border-bottom-color: rgb(189, 189, 189);

    text-align: right;
  }

  td::before {
    padding-right: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.115;
    content: attr(data-label);
    /* content: none; */

    float: left;
  }

  td {
    background-color: #fff;
  }
}

.countText {
  font-weight: 700;
}
.income {
  font-weight: 700;
  color: rgba(36, 204, 167, 1);
}
.outcome {
  font-weight: 700;
  color: rgba(255, 101, 150, 1);
}

@media (min-width: 280px) {
  /* .category::before {
    content: '';
    width: 24px;
    height: 24px;
    background-color: teal;
    margin-right: 16px;
    border-radius: 2px;
    padding: 0;
    display: inline-block;
  } */
}
.category {
  text-align: center;
}

.colorBlock {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: teal;
  margin-right: 16px;
}
