.balance {
  /* display: block; */
  width: 350px;
  /* height: 80px; */
  padding: 15px 40px;
  border-radius: 30px;
  background-color: #ffffff;
  /* box-sizing: border-box; */
}

@media (min-width: 768px) and (max-width: 1279px) {
  .balance {
    width: 334px;
    /* height: 80px; */
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .balance {
    width: 280px;
    /* height: 80px; */
  }
}

.title {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey);
  text-transform: uppercase;

  /* height: 13px;
  padding: 8px 0px 10px 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(166, 166, 166, 1); */
}

.amount {
  font-family: Segoe;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;

  /* display: flex;
  align-items: center;
  max-width: 240px;
  height: 36px;
  left: 125px;
  font-family: Segoe;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: rgba(0, 0, 0, 1);
  padding-left: 40px; */
}

@media (min-width: 1280px) {
  /* .balance {
    width: 350px;
    height: 80px;
  }
  .balance > h3 {
    padding: 8px 0 10px 30px;
  }
  .balance > p {
    padding-left: 30px;
  } */
}
